body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    background-color: #353030;
}

.top-config {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-bottom-right-radius: 6px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-container label {
    font-weight: 600;
    color: #FFF;    
}

.input-container input {
    width: 100%;
    border-radius: 6px;
    border: 2px solid var(--main-purple);
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.input-container input::placeholder {
    color: var(--light-purple);
}

.input-container input:focus {
    -webkit-box-shadow: 0px 2px 12px 3px rgba(209,52,209,0.93);
    -moz-box-shadow: 0px 2px 12px 3px rgba(209,52,209,0.93);
    box-shadow: 0px 2px 12px 3px rgba(209,52,209,0.93);
}

.container-btns {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

#lock-config {
    width: 50px;
    height: 50px;
}

#lock-config img {
    max-height: 100%;
}

#save-config {
    width: 100%;
    font-size: 1rem;
    height: 50px;
}

#action-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    gap: 10px;
}

.action {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.action img {
    width: 25px;
    height: 25px;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc8c8;
    overflow-y: scroll;
    padding: 3% 0px;
}

.table-search-config {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
    width: 70%;
    padding: 12px;
}

.table-search-config #identity-select {
    outline: 0;
}

.table-search-config #btn-search-table {
    width: 100px;
    align-self: left !important;
}

.cont {
    width: 70%;
}

.table-info-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
    padding: 15px 0px;
}

.farm-area {
    height: fit-content;
    display: grid;
    grid-template-areas: "message1 message2" "table table";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.div-message {
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    background-color: var(--light-purple);
    padding: 10px 15px;
    font-weight: 600;
    color: #FFF;
}
.div-message span {
    color: rgb(36, 200, 36);
}
